#Section-1{
    background-color: #fafaf9;
    .section-1-all{
        text-align: start;

        h1{
            font-size: 52px;
            font-weight: 300;
            padding-top: 60px;
            padding-bottom: 20px;
        }

        p{
            font-size: 18px;
            color: grey;
            font-family: "Lora",sans-serif;
            padding-bottom: 60px;
        } 
    }
}

#Section-2{
    .section-2-all{
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 50px;

        .section-2-left{
            width: 20%;
            display: block;

            .category{
                h4{
                    font-family: "Montserrat",sans-serif;
                    padding-bottom: 20px;
                }

                ul{
                    li{
                        font-family:"Montserrat",sans-serif ;
                        font-weight: 400;
                        padding-bottom: 5px;
                        transition: 0.3s;
                        cursor: pointer;
                        &:hover{
                            color: #FF0000;
                        }
                    }
                    padding-bottom: 20px;
                }
            }

            .recentproducts{
                h4{
                    font-family: "Montserrat",sans-serif ;
                }
                .img-text{
                    display: flex;
                    margin-top: 10px;

                    .img{
                        img{
                            width: 60px;
                            margin-right: 10px;
                        }
                    }
                    .recenttext{
                        h5{
                            font-family: "Monserrat", sans-serif;
                            font-size: 15px;
                            font-weight: 100;
                            transition: 0.3s;
                            cursor: pointer;

                            &:hover{
                                color: #FF0000;
                            }
                        }
                        p{
                            margin-top: 20px;
                            transition: 0.3s;
                            &:hover{
                                color: #FF0000;
                            }
                        }
                    }
                }

            }

            .prices{
                h4{
                    font-family: "Montserrat", sans-serif;
                    margin-bottom: 10px;
                    margin-top: 40px;
                }
                span{
                    background-color: grey;
                    height: 2px;
                    width: 100px;
                }

                p{
                    margin-top: 10px;
                    font-family: "Lora", sans-serif;
                }

            }
        }

        .section-2-right{
            width: 75%;
            .right-title{
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 10px;

                p{
                    font-family: "Montserrat", sans-serif;
                    font-size: 13px;
                }

                select{
                    padding: 10px 30px;
                    border: 1px solid grey;

                    option{
                        color: grey;
                        margin-bottom: 10px;
                    }
                }
            }
            .product-box{
                width: 100%;
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                .product{
                    width: 30%;
                    height: auto;
                    text-align: center;
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    margin-bottom: 30px;
                    &:hover img{
                        transform: scale(1.05);
                    }
                    &:hover span{
                        display: block;
                    }
                    &:hover .cost{
                        display: none;
                    }
                    img{
                        width: 100%;
                        transition: 0.4s;
                    }
                    h3{
                        font-weight: 600;
                        font-size: 12px;
                        margin-top: 10px;
                        margin-bottom: 10px;
                    }
                    .cost{
                        font-size: 11px;
                        color: grey;
                        display: block;
                    }
                    span{
                        font-size: 11px;
                        color: grey;
                        display: none;
        
                    }
        
                }
            }
            .right-end{
                width: 100%;
                text-align: center;
                margin-top: 50px;
                margin-bottom: 100px;
                .end{
                    font-size: 22px;
                }

                i{
                    padding: 10px;
                    font-size: 16px;
                    color: grey;
                    cursor: pointer;
                }
            }


        }
    }
}