@media screen and (max-width: 768px) {
  .mobile-navbar {
    display: block !important;
    text-align: end;
  }
  .mobile-navbar .burger {
    display: block !important;
  }
  .mobile-navbar .burger:hover .burger-menu .burger-menu-list {
    display: block !important;
  }
  .responsive {
    display: none !important;
  }
  .all-header .left {
    text-align: center;
    width: 70%;
  }
  .left img {
    width: 100%;
  }
  /* Header helelik bitti */
  #Section-1 .section-1-all {
    width: 100%;
  }
  #Section-1 .section-1-all .dot-1 {
    display: inline-block;
  }
  #Section-1 .section-1-all .prev, #Section-1 .section-1-all .next {
    display: none;
  }
  #Section-1 .section-1-all .mySlides-1 .bgr {
    width: 100%;
    height: 300px;
  }
  #Section-1 .section-1-all .mySlides-1 p {
    display: none;
  }
  #Section-1 .section-1-all .mySlides-1 .text-area {
    margin-left: 20px;
    width: 60%;
  }
  #Section-1 .section-1-all .mySlides-1 .text-area h1 {
    font-size: 30px;
  }
  #Section-1 .section-1-all .mySlides-1 .text-area img {
    padding-bottom: 100px;
    width: 60%;
  }
  #Section-1 .section-1-all .mySlides-1 .image-area img {
    display: none;
  }
  #Section-2 .product-box {
    display: block;
  }
  #Section-2 .product-box .product {
    width: 100%;
  }
  #Section-2 .product-box .product:hover {
    transform: scale(1);
  }
  #Section-2 .section2-nav .section2-leftnav p {
    display: block;
  }
  #Section-2 .section2-nav .section2-leftnav a {
    display: none;
  }
  #Section-2 .section2-rightnav .filter-dropdown {
    display: block;
    width: 200px;
  }
  #Section-3 {
    width: auto;
  }
  #Section-3 .section-3-all {
    display: block;
  }
  #Section-3 .section-3-all .section-3-left {
    width: 100%;
  }
  #Section-3 .section-3-all .section-3-left iframe {
    width: 90%;
    margin-left: 20px;
    height: 90%;
    margin-bottom: 0px !important;
  }
  #Section-3 .section-3-all .section-3-right .section-3-text {
    margin-top: 50px;
    width: 100%;
    margin-left: 20px;
    padding-bottom: 100px;
  }
  #Section-4 .section-4-all .section-4-text {
    width: 80%;
  }
  #Section-4 .section-4-all .experts {
    display: block;
  }
  #Section-4 .section-4-all .experts .person {
    margin-bottom: 50px;
  }
  #Section-5 .section-5-all .section-5-input input {
    width: 80%;
  }
  #Section-5 .section-5-all .section-5-input button {
    display: block;
    margin: auto;
    margin-top: 10px;
  }
  #Section-6 .section-6-all .section-6-text {
    width: 90%;
  }
  #Section-6 .section-6-all .section-6-text p {
    font-size: 16px;
  }
  #Section-6 .section-6-all .abouts {
    display: block;
  }
  #Section-6 .section-6-all .abouts .article {
    width: 95%;
    margin: auto;
    margin-bottom: 20px;
  }
  #Section-6 .section-6-all .abouts .article p {
    width: 70%;
    text-align: center;
    margin: auto;
  }
  footer .all-footer .footer-top {
    display: block;
  }
  footer .all-footer .footer-top .footer-top-content {
    margin-bottom: 30px;
    width: 50%;
  }
  footer .all-footer .footer-bottom {
    display: block;
    width: 100%;
    text-align: center;
  }
  footer .all-footer .footer-bottom .footer-bottom-content {
    margin-bottom: 20px;
  }
}/*# sourceMappingURL=responsive(main).css.map */